<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <mat-form-field>
      <input matInput (keyup.enter)="FilterByName($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <!--<div class="mat-elevation-z8 ">-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>LinkedInSkill</th>
            <th>Type</th>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Approve</th>
            <th>Blacklist</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let testobject of items">
            <td>{{testobject._source.LinkedInSkill}}</td>
            <td>{{testobject._source.Type}}</td>
            <td>{{testobject._source.Id}}</td>
            <td>{{testobject._source.Name}}</td>
            <td>{{testobject._source.Status}}</td>
            <td><button mat-raised-button (click)="openEditor(testobject)" color="primary">Edit</button></td>
            <td><button id="proposal" mat-raised-button (click)="approveSubmit(testobject)">Accept</button></td>
            <td><button id="blacklist" class="btn btn-info" (click)="blackListSubmit(testobject)">Blacklist</button></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end" style="margin: 15px;">
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a class="page-link" (click)="prevPage()" href="#">Prev</a></li>
            <li *ngFor="let page of pagesIndex" class="page-item" [ngClass]="{'active': (currentIndex == page)}">
              <a class="page-link" (click)="setPage(page)" href="#" >{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a class="page-link" (click)="nextPage()" href="#">Next</a></li>
          </ul>
        <!--</div>-->
      </nav>
      <div class="btn-toolbar" role="toolbar">
        <label style="margin-top:10px; margin-left:15px;">Page {{currentIndex}}/{{pageNumber}}</label>
      </div>
    <!--</div>-->
  </div>

</div>
