<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark mb-5 justify-content-center">
      <h3>Image Search ES Index</h3>
</nav>
<div class="container-fluid">
  <app-images-list></app-images-list>
</div>
