<div>
<h1 mat-dialog-title>Editor Form</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmitConfirm()" class="example-container" [formGroup]="options">
  <div class="row">
    <p style="margin-right:25px; margin-left:20px;">
      <mat-form-field appearance="outline">
        <mat-label>Linkedin Skill</mat-label>
        <input matInput formControlName="linkedinskill">
      </mat-form-field>
    </p>
    <p style="margin-right:25px;">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select placeholder="Type" formControlName="type">
          <mat-option value="Product">Product</mat-option>
          <mat-option value="Vendor">Vendor</mat-option>
          <mat-option value="BlacklistItem">Blacklist Item</mat-option>
          <mat-option value="NotMatchedLinkedInSkill">Not matched LinkedInSkill</mat-option>
        </mat-select>

        <!--<input matInput placeholder={{data._source.Type}}>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p style="margin-right:25px; margin-left:20px;">
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput (keyup)="updateProductName($event.target.value)" [matAutocomplete]="auto" formControlName="name">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getDocument($event)">
          <mat-option *ngFor="let value of filteredNames" [value]="value._source.term">
            {{value._source.term}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p style="margin-right:25px;">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select placeholder="Status" formControlName="status">
          <mat-option value="proposed">Proposed</mat-option>
          <mat-option value="accepted">Accepted</mat-option>
        </mat-select>
        <!--<input matInput placeholder={{data._source.Status}}>-->
      </mat-form-field>
    </p>
  </div>
  </form>
</div>
<div mat-dialog-actions style="margin-top:0px">
  <div class="col-3">
  <button mat-stroked-button color="primary" (click)="onCloseConfirm()">Close</button></div>
  <div class="col-3">
    <button mat-stroked-button color="warn" (click)="onSubmitConfirm()">Submit</button></div>
</div>
</div>
